@media only screen and (max-width: 600px) {
  body {
    margin: 0 20px;
  }
  .tours {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background: #fff;
  }
  .tours_image_container {
    margin-top: 24px;
  }

  .tour_headline {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
  }
  .tour_mini_text {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 162.5% */
  }
  .tours_image {
    width: 100%;
    height: 342px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }

  .tour_btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff5400;
    border: none;
    color: #fff;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;

    font-weight: 800;
    line-height: normal;
  }

  /* choose your destination */
  .place_image {
    border-radius: 16px;
    width: 100%;
    height: 50vh;
  }
  .place_text {
    margin-top: -160px;
  }
  .place_text_center {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .place1 {
    grid-area: maldives;
    margin-bottom: 100px;
  }
  .place2 {
    grid-area: indonesia;
  }
  .place3 {
    grid-area: srilanka;
  }
  .place4 {
    grid-area: america;
    margin-bottom: 100px;
  }
  .place5 {
    grid-area: kashmir;
    margin-bottom: 100px;
  }
  .place6 {
    grid-area: bangladesh;
    margin-bottom: 100px;
  }
  .place7 {
    grid-area: banderban;
  }

  .place_container {
    display: grid;
    gap: 10px;
    /* padding: 10px; */
    grid-template-areas:
      "maldives "
      "indonesia"
      "srilanka "
      "america "
      "kashmir"
      "bangladesh"
      "banderban";
  }
  .place_container > div {
    /* padding: 10px 0; */
  }

  /* choose your destination */
  /* why choose us */

  .choose_us {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .text_divs {
    margin-top: 120px;
  }
  .guarantee {
   margin: 0 auto;
    margin-top: 24px;
  }
  .box {
    width: 300px;

    flex-shrink: 0;
  }

  .icon {
    width: 48px;
  }
  /* why choose us */

  /* news_letter */
.news_letter {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.news_letter_box {
  display: flex;
  justify-content: center;
  width: 335px;
height: 353px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px 0px;
}
.news_letter_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .news_letter_form_hr{
  margin: 24px 0;
  width: 288px;
height: 1px;
}
.inputs_text {
  margin-bottom: 24px;
  width: 288px;
height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  padding: 0 10px;
}
.btn_subscribe {
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
 width: 288px;
height: 52px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}
.news_letter_image {
  width: 335px;
height: 300px;
  border-radius: 16px;
}
/* news_letter */
/* footer */
.foter{
 
  margin-top: 50px;
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding:32px;
}

.foter_hr{
  text-align: center;
  width: 335px;
height: 1px;
}
.foter_head{
 
display: flex;
justify-content: center;
align-items:center ;
gap: 16px;
}
.foter_image{
  width: 28.724px;
  height: 33.516px
}
.foter_headline{
  color: var(--Dark-01, #131318);
  font-family: Mulish;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.foter_headline_orange{
  color: #FF5400;
}
.foter_icon{
  width: 174.322px;
  height: 24px;
  flex-shrink: 0;
}

/* footer */

}

