@media only screen and (max-width: 600px) {
    body{
        margin: 0 20px;
    }
    .tours {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        background: #fff;
      }
      .tours_image_container{
        margin-top: 24px;
      }


      .tour_headline {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
      }
      .tour_mini_text {
        color: rgba(19, 19, 24, 0.7);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 162.5% */
      }
      .tours_image {
        width:100%;
height: 342px;
flex-shrink: 0;
        border-radius: 16px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
       
      }
      
      .tour_btn {
        width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #ff5400;
        border: none;
        color: #fff;
      
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
      
        font-weight: 800;
        line-height: normal;
      }
      
   /* choose your destination */
   .place_image {
    border-radius: 16px;
    width: 100%;
    height: 50vh;
  
  }
  .place_text{
   
    margin-top: -160px;
  }
  .place_text_center{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .place1 {
    grid-area: maldives;
    margin-bottom: 100px;
  }
  .place2 {
    grid-area: indonesia;
  }
  .place3 {
    grid-area: srilanka;
  }
  .place4 {
    grid-area: america;
    margin-bottom: 100px;
  }
  .place5 {
    grid-area: kashmir;
    margin-bottom: 100px;
  }
  .place6 {
    grid-area: bangladesh;
    margin-bottom: 100px;
  }
  .place7 {
    grid-area: banderban;
  }
  
  .place_container {
    display: grid;
    gap: 10px;
    /* padding: 10px; */
    grid-template-areas:
      "maldives "
      'indonesia'
      "srilanka "
      'america '
      'kashmir'
      "bangladesh"
      'banderban';
      
  }
  .place_container > div {
     /* padding: 10px 0; */
    
  }
  

   /* choose your destination */
  }