body {
  margin: 0 30px;
  padding: 0;
}
.tours {
  display: flex;
  gap: 24px;
  justify-content: center;
  background: #fff;
}
/* use all mini text class */
.tour_headline {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
/* use all mini text class */
.tour_mini_text {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.tours_image {
  width: 540px;
  height: 550px;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 550px;
  height: 540px;
}

.tour_btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;

  text-align: center;
  font-family: Mulish;
  font-size: 20px;

  font-weight: 800;
  line-height: normal;
}

/* place */
.place_image {
  border-radius: 16px;
  width: 100%;
  height: 50vh;
}
.place_text {
  margin-top: -160px;
}
.place_text_center {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.place1 {
  grid-area: maldives;
}
.place2 {
  grid-area: indonesia;
}
.place3 {
  grid-area: srilanka;
}
.place4 {
  grid-area: america;
}
.place5 {
  grid-area: kashmir;
}
.place6 {
  grid-area: bangladesh;
}
.place7 {
  grid-area: banderban;
}

.place_container {
  display: grid;
  gap: 10px;
  /* padding: 10px; */
  grid-template-areas:
    "maldives maldives indonesia indonesia"
    "srilanka america america kashmir"
    "bangladesh banderban banderban banderban";
}
.place_container > div {
  /* padding: 10px 0; */
}
/* place */

/* why choose us */
.text_divs {
  margin-top: 140px;
}
.choose_us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.guarantee {
  margin: 0 auto;
  margin-top: 24px;
}
.box {
  width: 573px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  padding: 16px;
}
.box1 {
  flex-shrink: 0;
  background: rgba(251, 181, 99, 0.05);
}
.box_headline {
  color: #131318;

  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.box2 {
  background: rgba(41, 206, 246, 0.05);
}
.box3 {
  background: rgba(233, 68, 68, 0.05);
}

.icon {
  width: 64px;
}
/* why choose us */

/* news_letter */
.news_letter {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.news_letter_box {
  display: flex;
  justify-content: center;
  width: 474px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px 0px;
 ;
}
.news_letter_form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 
}
.news_letter_form_hr{
  margin: 24px 0;
  width: 393px;
}
.inputs_text{
  margin-bottom: 24px;
  width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding:0 10px;
}
.btn_subscribe{
 background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
width: 393px;
height: 52px;
border-radius: 8px;

border: none;

}
.news_letter_image {
  width: 640px;
  border-radius: 16px;
}
/* news_letter */
/* footer */
.foter{
  
  margin-top: 50px;
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding: 32px 44px;
}

.foter_hr{
  text-align: center;
 
  height: 1px;
 
  
}
.foter_head{
 
display: flex;
justify-content: center;
align-items:center ;
gap: 16px;
}
.foter_image{
  width: 40px;
height: 46.673px;
}
.foter_headline{
  color: var(--Dark-01, #131318);
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.foter_headline_orange{
  color: #FF5400;
}
.foter_icon{
 margin-top: 16px;
 margin-bottom: 10px;
}

/* footer */